body, h1 {
  font-family: sans-serif;
}

.wrapper {
  width: 600px;
  height: 600px;
  margin: 30px auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  background-color: #F9F9F9;
  padding: 15px;
  color: #242424;
}

#canvas {
  background-color: white;
    border: 1px solid grey;
}

.pixel {
  border: 1px solid #F0F0F0;
  margin: -1px;
  float: left;
  opacity: 0;
}

.pixelOn{
  background-color: #242424;
}
