body {
  font-family: sans-serif;
  color: #7C84AE;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  margin: 15px auto;
  padding: 5px;
  background-color: #313B74;s
}

h1 {
  color: #7C84AE;
}

p {
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  background-color: #182257;
  padding: 15px;
  color: #7C84AE;
  border: 1px solid #7C84AE;
}

#canvas {
  background-color: white;
  border: 1px solid #525C91;
  width: 600px;
  height: 600px;
  padding: 0;
}

.pixel {
  border: 1px solid #525C91;
  margin: -1px;
  float: left;
  opacity: 0;
}

.pixelOn{
  background-color: #070F3A;
}
